<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Workout</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Daily Workouts</h1>

    <div class="main-content">
        <% wodDates.forEach((element, index) => { %>
            <% let wod = myWods[index] %> 
            <% wod = wod.replace(/(\r\n|\n|\r)/gm, '<br>') %> 
            <div>
                <p><%= element %></p>
                <div><%- wod %> </div>
                <br>
                <hr>
            </div>  
        <% }); %>
    </div>
    
</body>
</html>

<style>

</style>